.size(@size) when (default()) {
	width: extract(@size, 1);
	height: extract(@size, 2);
}

.size(@size) when (length(@size) = 1) {
	.size(@size @size);
}

.center() {
	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
}
