@import '_util';

.agenda-dialog {
	background-color: #fff;
	padding: 2em 3em;
	position: relative;
}

.close-btn {
	position: absolute;
	top: .25em;
	right: .5em;
	line-height: 1;
	font-size: 2em;

	text-decoration: none;

	color: #000;
	&:hover {
		color: #888;
	}
}

.agenda-title,
.agenda-search {
	display: inline-block;
	vertical-align: baseline;
}

.agenda-title {
	margin: 0;
}

.agenda-search {
	font-size: .9em;
	padding: .25em;
	margin-left: 15px;
	width: 18em;
}

.agenda {
	width: 100%;
	margin: 1em 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.agenda th {
	text-align: left;
}

.agenda th,
.agenda td {
	padding: .25em 1em;
}

.agenda td {
	border-top: 1px solid #666;
}

.idx-column {
	min-width: 3em;
}

.name-column,
.phone-column {
	width: 12em;
}

.call-button {
	.size(32px);
	background-image: url('res/call.png');
	background-color: #069225; 

	&:hover {
		background-color: #56D973;
	}
}

.sortable:hover {
	cursor: pointer;
}

.sort::after {
	display: inline-block;
	vertical-align: middle;
	content: '';
	margin-left: .25em;
	border: .25em solid transparent;
	border-top-color: #000;
}

.agenda-pages-container {
	text-align: center;
}

.agenda-page-button {
	padding: 5px 10px;
}
