@import '_util';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.4;
}

.button {
	display: inline-block;
	border: none;
	padding: 0;
	border: 0;
	margin: 0;

	&:hover {
		cursor: pointer;
	}
}

.button.big {
	padding: 10px 30px;
	border: 1px solid transparent;
}

.open-agenda-button {
	.center();
	background-color: #6ac;
	color: #fff;

	text-decoration: none;
	&:hover {
		background-color: #6af;
	}
}

@import 'dialog';
@import 'agenda';
@import 'call';
