@import '_util';

@call-screen-width: 450px;
@call-screen-height: 600px;

@heading-spacing: .5em;
@call-screen-padding: 1em;

@container-color: rgba(0, 0, 0, .75);

.call-screen {
	position: relative;
	display: inline-block;
	.size(@call-screen-width @call-screen-height);
	background-color: #fff;
}

.avatar-container {
	.size(100%);
	position: relative;
	overflow: hidden;
}

.avatar {
	.size(auto @call-screen-height);
	position: absolute;
	left: 0;
	right: 0;
}

.top-container,
.bottom-container {
	position: absolute;
	right: 0;
	left: 0;
	color: #fff;
}

.bottom-container,
.contact-details-container {
	background-color: @container-color;
}

.top-container {
	top: 0;
}

.contact-details-container {
	padding: @call-screen-padding;
}

.name {
	font-size: 1.25em;
	font-weight: 600;
	float: left;
	margin-right: .75em;
}

.residence {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	top: .3em;
}

.phone {
	font-size: 1.1em;
	clear: both;
}

.heading {
	margin-top: @heading-spacing;
	font-size: .85em;
	color: lightgray;
}

.birthday,
.days-to-birthday {
	font-size: .9em;
}

.days-to-birthday {
	margin-left: .5em;
}

.call-status {
	text-align: right;
	background-color: fadeout(#6ac, 25%);
	padding: .5em @call-screen-padding;
}

.bottom-container {
	bottom: 0;
}

.hangup-btn {
	background-color: #F20E0E;
	width: 100%;
	padding: 1.5em 0;
	background-image: url('res/hangup.png');
	background-size: 48px 48px;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;

	&:hover {
		background-color: #CA3939;
	}
}

.map-container {
	position: relative;
}

.last-location {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: @container-color;
	padding: @heading-spacing @call-screen-padding;
	margin: 0;
}

#map {
	width: 100%;
	height: 8em;
}

