.dialog {
	display: inline-block;

	// center dialog-content using inline-block & vertical-align
	text-align: center;
	&::before {
		content: '';
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
}

.dialog-content {
	display: inline-block;
	vertical-align: middle;
	text-align: initial;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
}

// render modal background
.dialog.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
}

