<section class="dialog modal">
	<div class="dialog-content agenda-dialog">
		<a class="button close-btn" href="#/">&times;</a>
		<header>
			<h2 class="agenda-title">Agenda</h2>
			<input class="agenda-search" type="search" ng-model="query" placeholder="Filter by name or phone number" autofocus>
		</header>
		<table class="agenda">
			<thead>
				<tr>
					<th class="idx-column">#</th>
					<th class="name-column sortable" ng-class="{'sort': sortBy === 'name', 'sort-asc': asc}" ng-click="sortBy = 'name'">Name</th>
					<th class="phone-column sortable" ng-class="{'sort': sortBy === 'phoneNumber', 'sort-asc': asc}" ng-click="sortBy = 'phoneNumber'">Phone</th>
					<th>Call</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="contact in contacts">
				<td>{{(currentPage - 1) * pageSize + $index + 1}}</td>
				<td>{{contact.firstName}} {{contact.lastName}}</td>
				<td>{{contact.phoneNumber}}</td>
				<td><a class="button call-button" href="#/call/{{contact.id}}"></a></td>
			</tr>
			<tr ng-show="!contacts.length"><td colspan="4">No contacts</td></tr>
			</tbody>
		</table>
		<div class="agenda-pages-container">
			<button class="button agenda-page-button" ng-disabled="currentPage <= 1" ng-click="currentPage = currentPage - 1">prev</button>
			<span ="agenda-pages">{{currentPage}}/{{pages}}</span>
			<button class="button agenda-page-button" ng-disabled="currentPage >= pages" ng-click="currentPage = currentPage + 1">next</button>
		</div>
	</div>
</section>
