<div class="dialog modal">
	<div class="dialog-content call-screen">
		<div class="avatar-container">
			<img class="avatar" src="//lorempixel.com/450/600/cats/">
		</div>
		<div class="top-container">
			<div class="contact-details-container">
				<div>
					<div class="name">{{contact.firstName}} {{contact.lastName}}</div>
					<small class="residence">{{contact.city}}, {{contact.country}}</small>
				</div>
				<div class="phone">{{contact.phoneNumber}}</div>
				<div>
					<div class="heading">Next birthday</div>
					<span class="birthday">{{contact.birthDate | unixToDate | nextDate | date:'shortDate'}}</span>
					<strong ng-pluralize class="days-to-birthday"
						count="(contact.birthDate | unixToDate | nextDate | daysLeft)" 
						when="{
						'0': 'Today. Wish your friend a \'Happy birthday\'!',
						'one': 'Tomorrow',
						'other': '{} days left.' }"></strong>
				</div>
			</div>
			<div class="call-status">{{callStatus}}</div>
		</div>
		<div class="bottom-container">
			<a href="#/" class="button hangup-btn"></a>
			<div class="map-container">
				<div class="heading last-location">Last location</div>
				<div id="map"></div>
			</div>
		</div>
	</div>
</div>
